.menu_links {
  a {
    transition: all;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
    will-change: contents;
    position: relative;

    &:hover {
      &::before {
        font-weight: 700;
      }
    }

    &::before {
      content: attr(data-text);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all;
      transition-timing-function: ease-out;
      transition-duration: 300ms;
      will-change: contents;
    }
  }
}
