.menu_links {
  a {
    text-shadow: 0.1rem -0.1rem #ffc82200;
    transition: all;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
    will-change: contents;

    &:hover {
      text-shadow: 0.1rem -0.1rem #ffffff54;
    }

    &::before {
      transition: all;
      transition-timing-function: ease-out;
      transition-duration: 200ms;
      will-change: contents;
    }
  }
}
