@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/variables.scss';
@import 'styles/items.scss';

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    box-sizing: border-box;
    line-height: 1;
  }
}

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1440 * 10);

  // @media (max-width: $tablet) {
  //   font-size: calc(100vw / 837 * 10);
  // }

  // @media (max-width: $mobile) {
  //   font-size: calc(100vw / 375 * 10);
  // }
}
